<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ escape(handler.settings["title"]) }}</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link href="{{ static_url("css/bootstrap.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/my_styles.css") }}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">{{ escape(handler.settings["title"]) }}</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        {% block header-links %}{% end %}
    </ul>
  </div>
</nav>

{% if error %}
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error!</strong> {{ error }}
</div>
{% elif success %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ success }}
</div>
{% end %}

<div id="body">
    <div id="content">{% block body %}{% end %}</div>
</div>

</body>

</html>