{% extends "base.html" %}

{% block header-links %}
<li><a href="/auth/signout"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
{% end %}


{% block body %}

<div class="container">
  <h2>Table of uploaded PDF's</h2>
  <form action="/" method="post" enctype="multipart/form-data">
      <p>Choose file to upload</p>
      <input type="file" name="file" accept="application/pdf">
      <input type="submit" value="Send file">
      {% module xsrf_form_html() %}
  </form>
<br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Upload date</th>
        <th>Nickname</th>
        <th>PDF filename</th>
        <th>PNG filenames</th>
      </tr>
    </thead>
    <tbody>
    {% for item in items %}
      <a>
        <td>{{item["datetime"]}}</td>
        <td>{{escape(item["user"])}}</td>
        <td>
          <a href="{{escape(item['link'])}}">{{escape(item['name'])}}</a>
        </td>
        <td>
          {% for png_item in item["pngs"] %}
          <a href="{{escape(png_item['link'])}}">{{escape(png_item['name'])}}</a><br>
          {% end %}
        </td>
      </tr>
    {% end %}
    </tbody>
  </table>
</div>
{% end %}