{% extends "base.html" %}

{% block header-links %}
<li><a href="/auth/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
{% end %}

{% block body %}

<div class="container">

<form class="form-signin" action="/auth/signin" method="POST">
  <h2 class="form-signin-heading">Please sign in</h2>
  <input name="name" type="text" class="input-block-level" placeholder="Nickname">
  <input name="password" type="password" class="input-block-level" placeholder="Password">
  {% module xsrf_form_html() %}
  <button class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>

</div> <!-- /container -->

{% end %}